.item-div{
   display: flex;
   width: fit-content;
   flex-wrap: wrap; 
}


.card{

    transform: scale(1);
    transition: all 0.2s ease; 
    cursor: pointer;
}

.card:hover{

    transform: scale(1.03);
    transition:all 0.5s  ease;
}



.card-text{

    color: rgb(194, 128, 6);
    display: flex;
    justify-content: space-between;
}

.card-img-top{

    height:180px;
    width:285px;
}

.text-center >button{

   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   padding:4px;
   font-weight: bold;
}

