.modal_header {
  background-color: rgb(168, 167, 167);
  width: 130%;
}

.modal_body {
  background-color: rgb(187, 184, 184);
  width: 130%;
}

.slip_container {
  border: 1px solid black;
  background-color: rgb(233, 225, 216);
  position: relative;
  left: 0px;
  font-size: 10px;
  width: 95%;
  line-height: 12px;
}
.table {
  border-top: 1px solid black;
}

.product_table {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.Signatory_table {
  margin-top: 60px;
  border-bottom: 1px solid black;
}

@media (max-width: 900px) {
  .modal_header {
    width: 120%;
  }

  .modal_body {
    width: 120%;
  }

  .slip_container {
    border: 1px solid black;
    background-color: rgb(233, 225, 216);
    position: relative;
    left: 20px;
    font-size: 10px;
    width: 95%;
  }
}

@media (max-width: 600px) {
  .modal_header {
    width: 160%;
  }

  .modal_body {
    width: 160%;
  }

  .slip_container {
    position: relative;
    left: 10%;
    font-size: 14px;
    width: 100%;
    line-height: 20px;
  }
}
